
p{
  color: purple;
  font-size:22px;
}div{
  color: green;
  font-size: 40px;

}
#GrayGrayFunZone{color: red;
  font-size: 100px;
}
#NoMakeItStop{color: black;
font-size: 16px;}
.harambe{color: yellow;
}