
p{
  color: purple;
  font-size:22px;
}div{
  color: #f5c242;
  font-size: 40px;

}
#GrayGrayFunZone{color: red;
  font-size: 100px;
  width: 320px;
  padding:400px;
    border: 20px;
    margin: 0;
}
#NoMakeItStop{
  color:green;
  width: 200px;
  padding: 10px;
  border: 5px dashed pink;

}