.bg {
  background-image:url("https://i.redd.it/t9ujeoazn6221.png");
  height: 100%;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
}

p{
  color: white;
  font-size:22px;
  font-family: "Arial";
}

div{
  color: #f5c242;
  font-size: 40px;

}
#GrayGrayFunZone{color: red;
  font-size: 100px;
  width: 1126px;
  padding:400px;
    border: 20px dashed white;
    margin: 100px;
}
#NoMakeItStop{
  color:green;
  background-color:black;
  width: 200px;
  padding: 10px;
  border: 5px dashed pink;
}
  aside{
font-size: 25px;
    float: right;
    margin: -10%;
    width: 20%;
  }
span.first {
  display: inline-block;
  width: 100px;
  border: 10px solid blue;
  background-color:pink;
  text-align: left;
  
}
span.second{
  display:inline-block;
  width: 100px;
  border: 10px dotted green;
  background-color: orange;
   font-size: 40px;
     text-align: right;
}
span.three{
 font-size: 100px;
  display:inline-block;
  background-color: white;
  color: red;
  text-align:lef;
}